.chat {
  height: 100%;
  padding-bottom: 65px;
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: 992px) {
    padding-bottom: 60px;
  }

  @media only screen and (max-width: 768px) {
    padding-bottom: 53px;
  }

  @media only screen and (max-width: 576px) {
    padding-bottom: 46px;
  }
}

.chat__inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 15px 0;
}

.chat__actions {
  background-color: var(--secondary-bg);
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  border-top: 1px solid var(--purple);

  @media only screen and (max-width: 768px) {
    padding: 8px 0;
  }

  @media only screen and (max-width: 576px) {
    padding: 6px 0;
  }
}

.chat__form {
  display: flex;
  align-items: center;
}

.chat__input {
  flex-grow: 1;
  outline: none;
  background-color: var(--input-bg);
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  font-size: 20px;
  font-weight: 500;
  margin-right: 10px;

  &::placeholder {
    color: var(--secondary-text-color);
  }

  @media only screen and (max-width: 992px) {
    padding: 8px 15px;
    font-size: 19px;
  }

  @media only screen and (max-width: 768px) {
    padding: 7px 14px;
    font-size: 18px;
    border-radius: 8px;
    margin-right: 8px;
  }

  @media only screen and (max-width: 576px) {
    padding: 6px 13px;
    font-size: 17px;
    width: 100%;
    border-radius: 6px;
    margin-right: 5px;
  }
}

.chat__button {
  width: 42px;
  height: 42px;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: 992px) {
    width: 38px;
    height: 38px;
  }

  @media only screen and (max-width: 768px) {
    width: 33px;
    height: 33px;
  }

  @media only screen and (max-width: 576px) {
    flex-shrink: 0;
  }
}

.chat__button-img {
  width: 100%;
  height: auto;
}
