.site-header {
  background-color: var(--secondary-bg);
  padding: 15px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;

  @media only screen and (max-width: 992px) {
    padding: 12px 0;
  }

  @media only screen and (max-width: 576px) {
    padding: 10px 0;
  }

  @media only screen and (max-width: 475px) {
    padding: 8px 0;
  }
}

.site-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;

  @media only screen and (max-width: 992px) {
    gap: 25px;
  }

  @media only screen and (max-width: 576px) {
    gap: 23px;
  }
}

.site-header__logo {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  padding-top: 3px;
  font-size: 23px;

  @media only screen and (max-width: 992px) {
    font-size: 20px;
  }

  @media only screen and (max-width: 768px) {
    font-size: 18px;
  }

  @media only screen and (max-width: 576px) {
    font-size: 17px;
  }

  @media only screen and (max-width: 576px) {
    font-size: 16px;
  }
}

.site-header__actions {
  display: flex;
  align-items: center;
}

.site-header__avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid var(--purple);
  margin-right: 15px;

  @media only screen and (max-width: 992px) {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }

  @media only screen and (max-width: 768px) {
    width: 35px;
    height: 35px;
  }

  @media only screen and (max-width: 576px) {
    width: 30px;
    height: 30px;
  }
}

.site-header__btn {
  color: var(--purple);
  font-size: 20px;
  padding: 5px 0 2px;

  @media only screen and (max-width: 992px) {
    font-size: 18px;
  }

  @media only screen and (max-width: 768px) {
    font-size: 16px;
  }

  @media only screen and (max-width: 576px) {
    font-size: 15px;
  }
}
