.site-header {
  background-color: var(--secondary-bg);
  padding: 20px 0;
}

.site-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.site-header__logo {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  font-size: 24px;
}

.site-header__actions {
  display: flex;
  align-items: center;
}

.site-header__btn {
  color: var(--purple);
  font-size: 20px;
  padding: 6px;
}
