.site-header {
  background-color: var(--secondary-bg);
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}

.site-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.site-header__logo {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  font-size: 24px;
}

.site-header__actions {
  display: flex;
  align-items: center;
}

.site-header__avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid var(--purple);
  margin-right: 15px;
}

.site-header__btn {
  color: var(--purple);
  font-size: 20px;
  padding: 5px 0 2px;
}
