/* CUSTOM PROPS */
:root {
  --text-color: #fff;
  --primary-bg: #121111;
  --secondary-bg: #1f1f1f;
  --purple: #7c01f6;
  --primary-gradient: linear-gradient(86.44deg, #830ef7 -10.55%, #ac5bfd 112.21%);
}

/* FONTS */
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-SemiBold.woff2") format("woff2"), url("../fonts/Gilroy-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* GENERAL */
html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  padding: 20px;
  background-color: var(--primary-bg);
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 700;
  line-height: 2;
  color: var(--text-color);
  margin: 0;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

/* VISUALLY HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

#root {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex-grow: 1;
}

.button {
  display: inline-flex;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  padding: 0;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
}
